/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */

package org.university.stcav.evaprocessor.model;

/**
 *
 * @author johan
 */
public class Layout {
    public static String MAINPATH = "/home/johaned/javaspace/university/stcav/";
    public static String URLPROCESSORMEDIA="http://localhost:8000/";
    public static String URLPROCESSORMEDIA_="http://localhost:8001/";
    public static String URLCONTENTPROCESSORSERVER="http://localhost:19985/ContentProcessorServer/ContentProcessorServlet";
    public static String PATHCONTENTTEMP= MAINPATH+"content_temp/";
    public static String PATHSTACKVIDEOPROCESSOR= MAINPATH;
    public static String STACKVIDEOPROCESSOR="stackvideoprocessor";
    public static String PATHEVAPERFORMANCEFILE= MAINPATH;
    //public static String PATHVIDEOPROCESSFOLDER="/home/stcav/stcav/VideoProcessorFolder/";
    public static String EVAPERFORMANCEFILE="evaperformancefile";
    public static String PATHCONTENTREPOSITORY= MAINPATH+"domain/docroot/ContentRepository/";
    public static String PATHCONTENTPOSTER= MAINPATH+"domain/docroot/PosterRepository/";
    public static String PATHPROGRAMREPOSITORY= MAINPATH+"domain/docroot/ProgramRepository/";
    public static String PATHPROGRAMPOSTER= MAINPATH+"domain/docroot/ProgramRepository/PosterProgram/";
    public static String PATHVIDEOPROCESSCONTENT= MAINPATH+"VideoProcessFolder/content/";
    public static String PATHVIDEOPROCESSEVENT= MAINPATH+"VideoProcessFolder/event/";
    public static String URLPARTENONPROCESSORCOLOR ="http://localhost:19985/PartenonServer/ColorProcessorServlet";
    public static String PATHFONTS= MAINPATH+"fonts/";
    public static String EXT="mp4";
    public static String PATHPROGRAMBROADCAST= MAINPATH+"domain/docroot/ProgramRepository/Broadcast/";
    public static String URLEVENTPROCESSOR= "http://localhost:19985/ProgrammeProcessorServer/EventProcessorServlet";
    public static String ERRORSTACKVIDEOPROCESSOR= "errorstackvideoprocessor";

}
